$theme-color: #200b2a;

.about-header {
  height: 300px;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/main_background.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.6);
  }

  .about-header-title {
    max-width: 1300px;
    width: 100%;
  }

  h2 {
    padding-top: 150px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000000;
    text-align: right;
  }
}

.main {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-about-img {
      text-align: center;

      img {
        width: 500px;
        height: 500px;
        border-radius: 100%;
      }
    }

    .main-information {
      padding-top: 30px;
      .main-description {
        text-align: center;
        font-size: 18px;
        line-height: 1.63em;
        max-width: 600px;
      }
    }
  }
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $theme-color;
  padding: 70px 0;

  .skills-container {
    width: 100%;
    .section-title {
      p {
        text-align: center;
        color: #ffffff;
      }
    }

    .skills-inner {
      margin: 0 auto;
      max-width: 800px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .skills-wrap {
        padding: 15px;

        .single-skill {
          width: 150px;
          height: 150px;
          border-radius: 100%;
          background-color: aqua;
          display: flex;
          justify-content: center;
          align-items: center;

          .single-skill-title {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.activities {
  padding: 0;
  height: 450px;

  .swiper {
    max-width: 100vw;
    width: 100%;
    height: 100%;
  }

  .activities-container {
    width: 100%;
    height: 100%;
    max-width: none;

    .activity-wrap {
      padding: 150px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .activity-title {
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 30px;
        color: #ffffff;
      }

      .activity-description {
        font-size: 16px;
        color: #e1e1e1;
        padding-bottom: 20px;
      }

      .activity-text {
        color: #ffffff;
        font-size: 20px;
      }

      &.ski {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(./img/skill_ski.jpg);
        background-position: center;
        background-size: cover;
      }
    }
  }
}
