* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333333;
}

.img-container > img {
  max-width: 100%;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white !important;
  z-index: 10;
  transition: 0.3s ease-in-out all;

  &.fixed {
    background-color: #200b2a;
  }

  .logo {
    width: 150px;
  }

  .menu {
    width: 700px;

    .menu-list {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .menu-item {
        font-size: 20px;
        font-weight: 500;
        list-style: none;
      }
    }
  }

  .link-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    i {
      font-size: 30px;
    }
  }
}

header {
  position: relative;

  .background {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      scale: 1;
      transition: 10s ease-in-out all;

      &.show {
        scale: 1.3;
      }
    }
  }

  .main-title-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1,
    h3 {
      color: white;
      text-align: center;
      padding-bottom: 20px;
    }
  }
}

section {
  width: 100%;
  padding: 150px 15px;

  .section-title {
    padding-bottom: 30px;

    p {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.3em;
      letter-spacing: 1px;
    }
  }

  > div {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.main-about {
  display: flex;
  justify-content: center;
  align-items: center;

  .main-about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .main-about-img {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 15px;
      }
    }

    .main-about-text {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    .name {
      font-size: 18px;
      font-weight: 500;
    }

    .label {
      padding-top: 20px;
      font-weight: 500;
    }
  }
}

.main-portfolio {
  background-color: #d0b8db;

  .main-portfolio-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;

    .card {
      max-width: 400px;
      background-color: #f1c9fc;
      border-radius: 10px;
      box-shadow: 3px 3px 5px #333333;
      padding: 40px 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-inner {
        .portfolio-title {
          font-size: 25px;
          font-weight: 500;
          padding-bottom: 20px;
        }

        .portfolio-subtitle {
          font-size: 23px;
          padding-bottom: 20px;
        }

        .portfolio-summary {
          padding-bottom: 20px;
        }

        .portfolio-tools {
          width: fit-content;
          font-size: 14px;
          border-radius: 10px;
          padding: 5px 10px;
          background-color: #351643;
          color: #ffffff;
          margin-bottom: 40px;
        }

        .portfolio-content {
          width: 100%;
        }
      }
    }
  }
}

.more-btn {
  width: 100%;
  margin-top: 40px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .more-btn-pre,
  .more-btn-post {
    width: 0;
    transition: 0.3s ease-in-out all;
    overflow: hidden;
  }

  .more-btn-pre {
    margin-right: 10px;
  }

  .more-btn-post {
    margin-left: 10px;
  }
}

.more-btn:hover {
  .more-btn-pre,
  .more-btn-post {
    width: fit-content;
  }
}

// .btn-hover .more-btn {
//   .more-btn-pre,
//   .more-btn-post {
//     width: fit-content;
//   }
// }

footer {
  width: 100%;
  background-color: #200b2a;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white !important;

  .logo {
    width: 150px;
  }

  .menu {
    width: 700px;

    .menu-list {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .menu-item {
        font-size: 20px;
        font-weight: 500;
        list-style: none;
      }
    }
  }

  .link-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    i {
      font-size: 30px;
    }
  }
}
